/* Globals */

:root {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270f34;
  --brand-lines: #4b3457;
  /* Blockstack colors */
  --brand-dark: #211f6d;
  --brand-mild: #c4d8e5;
  --brand-greyish: #f1f6f9;
  --brand-bright: #3700ff;
  --brand-accent: #00d4ff;
}

html,
body {
  background-color: #f4f4fc;
  height: 100%;
}

inspect {
  border: thin solid red;
}

#App{
  display: flex;
  flex-direction: column;
  height:100%;
}

.navbar{
  flex-grow: 1;
  max-height: 70px;
}

.Landing {
  background-image: url(/proxy/rebl.run/media/arthur-edelman-YiZ_C5H0x5Y-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex-grow: 2;
}

.Landing .jumbotron {
  opacity: 0.92;
  height: 100%;
}

.justify-center{
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar-dark {
  background-color: var(--brand-bright) !important;
}

/* Avatar */

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.panel-landing {
  max-width: 50em;
  margin: auto;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: 60px;
}

